::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
input {
  color: whitesmoke;
}
input:focus-visible {
  border: 1px solid white !important;
}
.AddButton {
  transition: all.5s ease-in-out !important;
  border: 1px solid transparent !important;
}
.AddButton:hover {
  border: 1px solid white !important;
  background-color: transparent !important;
  color: white !important;
}
